/build/
/nbproject/private/
/HBMaquinado/Paperless HB Maquinado/nbproject/private/
/HBMaquinado/Paperless HB Maquinado/build/
/Supermercado/Supermercado/build/
/Supermercado/Supermercado/dist/
/Supermercado/Supermercado/nbproject/private/
/HBMaquinado/Paperless HB Maquinado/dist/
/Paperless HB Maquinado/nbproject/private/
/Paperless HB Maquinado/build/
